*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  color: #6d6d6d;
  background-color: #fff;
  font-family: "Oxygen", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.8;
}

img {
  max-width: 100%;
  height: auto;
}

.o-wrapper {
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

.content {
  width: 100%;
  height: 100%;
}

.logo {
	position: fixed;
	left: 20px;
	top: 15px;
	z-index: 9999;
}

.logo img {
	width: 40px;
	height: auto;
	/*
top: 10px;
	left: 10px;
*/
}

.logo-name {
	position: fixed;
	left: 102px;
	top: 25px;
	z-index: 9999;
}

.logo-name img {
	width: auto;
	height: 20px;
}

.social {
	visibility: visible;
	width: 25px;
	text-align: center;
	position: fixed;
	bottom: 25px;
	right: 30px;
}

.social img {
	height: 22px;
	width: auto;
	margin-top: 6px;
}

.social-mobile {
	visibility: hidden;
}

.gray-bg {
	visibility: hidden;
}

.c-menu {
  position: fixed;
  z-index: 200;
  background-color: #f2f2f2;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
  /* border-top: white 80px solid; */
}

.rotated-menu {
	-webkit-transform: rotate(-90deg);
	position: absolute;
	left: -132px;
	top: 250px;
	list-style-type: none;
    margin: auto 0;
    padding: 0 0 1px 0;
    width: 440px;
    line-height: 16px;
	vertical-align: middle;
	visibility: visible;
}

.rotated-menu li {
	display: inline;
	font-family: 'Montserrat';
	text-transform: uppercase;
	font-size: 11.5px;
	letter-spacing: 1.3px;
	color: #1e1e1e;
	font-weight: 400;
	height: 80px;
	/* padding: 0 0 3px 0; */
	margin: 0;
}

.rotated-menu li+li {
	padding-left: 16px;
}

.rotated-menu a {
	color: #1e1e1e;
	text-decoration: none;
}

.rotated-menu a:hover {
	color: #1e1e1e;
}

.c-menu--slide-top {
  vertical-align: middle;
  width: 80px;
  height: 100%;
  text-align: center;
  /* overflow-x: scroll; */
}

.c-menu--slide-top {
  top: 0;
  left: 0;
  -webkit-transform: translateY(-1500px);
      -ms-transform: translateY(-1500px);
          transform: translateY(-1500px);
}

.c-menu--slide-top.is-active {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

body.has-active-menu {
  overflow: hidden;
}

.c-menu__close {
  position: fixed;
  width: 80px;
  text-align: center;
  left: 0;
  bottom: 20px;
}

.c-menu__close img {
  width: 16px;
  height: auto;
}

.c-menu__close:focus {
  outline: none;
}

/*
.nav-mask {
	position: fixed;
	background: white;
	width: 60px;
	height: 80px;
	top: 0;
	left: 0;
	z-index: 2000;
}
*/

.c-mask {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  /* background-color: #1e1e1e; */
  opacity: 0;
  -webkit-transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
          transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}

.c-mask.is-active {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  -webkit-transition: opacity 0.3s;
          transition: opacity 0.3s;
}

.c-buttons {
  margin-bottom: 48px;
  text-align: center;
}

.c-button {
  /* display: inline-block; */
  /* margin: 4px; */
  width: 80px;
  height: 70px;
  padding: 25px 0;
  text-align: center;
  background: #f2f2f2;
  font-size: 14px;
  box-shadow: none;
  border-radius: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* margin: 80px 0 0 0; */
  position: fixed;
  left: 0;
  top: 0;
}

.c-button img {
	margin: 0;
	width: 16px;
	height: auto;
}

.c-button:focus {
  outline: none;
}

.c-button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.projects {
	position: fixed;
	width: 100%;
	top: 50%;
	left: 49%;
	-webkit-transform: translate(-50%,-50%); 
	-moz-transform: translate(-50%,-50%); 
	transform: translate(-50%,-50%);
	overflow: scroll;
}

.projects img {
	height: 60%;
	width: auto;
}

}
