*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  color: #6d6d6d;
  background-color: #fff;
  font-family: "Oxygen", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.8;
}

img {
  max-width: 100%;
  height: auto;
}

.o-wrapper {
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

.content {
  width: 100%;
  height: 100%;
}

.c-menu {
  position: fixed;
  z-index: 200;
  background-color: #3748ff;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

.rotated-menu {
	/* -webkit-transform: rotate(-90deg); */
	display: inline;
}

.c-menu--slide-top {
  vertical-align: middle;
  width: 50px;
  height: 500px;
  text-align: center;
  /* overflow-x: scroll; */
}

.c-menu--slide-top .c-menu__link {
  display: block;
  padding: 0 4px;
  color: #fff;
}

.c-menu--slide-top .c-menu__close {
  /* display: inline-block; */
  margin-right: 12px;
  padding: 0 24px;
  height: 60px;
  line-height: 60px;
}

.c-menu--slide-top {
  top: 0;
  left: 0;
  -webkit-transform: translateY(-60px);
      -ms-transform: translateY(-60px);
          transform: translateY(-60px);
}

.c-menu--slide-top.is-active {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

body.has-active-menu {
  overflow: hidden;
}

.c-menu__close {
  color: #fff;
  /* background-color: #3184a1; */
  font-size: 14px;
  border: none;
  box-shadow: none;
  border-radius: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.c-menu__close:focus {
  outline: none;
}

.c-mask {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  -webkit-transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
          transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}

.c-mask.is-active {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  -webkit-transition: opacity 0.3s;
          transition: opacity 0.3s;
}

.c-buttons {
  margin-bottom: 48px;
  text-align: center;
}

.c-button {
  display: inline-block;
  /* margin: 4px; */
  padding: 12px 24px;
  color: white;
  background: pink;
  font-size: 14px;
  box-shadow: none;
  border-radius: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.c-button:focus {
  outline: none;
}

.c-button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

}
