@import url("style780.css");

@media screen and (max-width: 840px) {

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/*
img {
	max-width: 100%;
	height: auto;
}
*/


html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
/*
  width: 100%;
  z-index: 1;
*/
}

body { 
  background-image: url();
  background-color: #f2f2f2;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body.first {
  background-image: url('../img/bg_sand.jpg');
}
body.second {
  background-image: url('../img/bg_toothpaste.jpg');
}
body.third {
  background-image: url('../img/bg_sand.jpg');
}
body.fourth {
  background-image: url('../img/bg_film.jpg');
}
body.fifth {
  background-image: url('../img/bg_toothpaste.jpg');
}

a {
	opacity: 1;
	transition: all .5s ease;
	text-decoration: none;
	color: #5B5B5B;
}

a:hover {
	opacity: .4;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: #fff url("../img/loader.gif") center center no-repeat;
}

/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/


.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  /* padding: 5%; */
  overflow: hidden;
}

.container img {
	width: 200%;
	top: 0;
	left: 0;
	text-align: center;
	-webkit-transform: translate(-25%,0); 
	-moz-transform: translate(-25%,0); 
	transform: translate(-25%,0);
	padding-top: 40px;
}

input[type=checkbox] {
  display: none;
}

label {
  display: inline-block;
  margin-right: 1em;
  padding: 0.4em 0;
  cursor: pointer;
}

/*
button {
  border: 10px solid #00FFAA;
  font-family: monospace;
  position: absolute;
  line-height: 60px;
  text-align: right;
  padding: 0 1.2em;
  background: #444;
  font-size: 24px;
  cursor: pointer;
  display: block;
  outline: none;
  height: 80px;
  width: 80%;
  top: 260px;
  margin: 0;
  left: 10%;
}

button:hover {
  background: #00FFAA;
}
*/

input[type=checkbox] + label:before {
  display: inline-block;
  position: relative;
  background: #444;
  margin-right: 8px;
  content: "";
  height: 16px;
  width: 16px;
  top: 1px;
}

input[type=checkbox]:checked + label:before {
  background: #00FFAA;
}

.scene {
  padding: 0;
  margin: 0;
}

.fill {
  position: absolute;
  bottom: 5%;
  right: 5%;
  left: 5%;
  top: 5%;
}

.expand-width {
  width: 100%;
}

.border {
  border: 2px dashed #00FFAA;
}

.aspect {
  opacity: 0.2;
}

.layer:nth-child(1) {
  opacity: 0.70;
}
.layer:nth-child(1) button {
  -webkit-transform: rotate(90deg);
}

.layer:nth-child(2) {
  opacity: 0.70;
}
.layer:nth-child(2) button {
  -webkit-transform: rotate(60deg);
}

.layer:nth-child(3) {
  opacity: 0.80;
}
.layer:nth-child(3) button {
  -webkit-transform: rotate(30deg);
}

.layer:nth-child(4) {
  opacity: 1.00;
}
.layer:nth-child(4) button {
}

.projects {
	font-family: 'Montserrat';
	width: 100%;
	color: white;
	font-size: 12px;
	text-align: center;
	position: absolute;
	top: 50px;
	margin: 0 auto;
	overflow: scroll;
}

.projects p {
	color: black;
}

.projects ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.projects li {
	display: inline;
}

.projects ul img {
	width: 100%;
	height: auto;
	padding: 0 0 0 0;
	margin: 0 0 -4px 0;
}

/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/

.o-wrapper {
  -webkit-transition: -webkit-transform 0.5s;
          transition: transform 0.5s;
}

.border-top {
	width: 100%;
	height: 10px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 7777;
	background-color: white;
}

.border-bottom {
	width: 100%;
	height: 10px;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 7777;
	background-color: white;
}

.border-left {
	width: 10px;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 7777;
	background-color: white;
}

.border-right {
	width: 10px;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 7777;
	background-color: white;
}

.content {
  width: 100%;
  height: 100%;
}

.logo {
	position: fixed;
	width: 100%;
	text-align: center;
	left: 0;
	top: 25px;
	z-index: 9988;
	margin-right: 50px;
}

.logo img {
	width: 50px;
	height: auto;
	/*
top: 10px;
	left: 10px;
*/
}

.logo-name {
	position: fixed;
	left: 20%;
	top: 8.5px;
	width: 60%;
	z-index: 8888;
	text-align: center;
}

.logo-name img {
	width: auto;
	height: 14px;
}

.copyright {
	visibility: hidden;
}

.copyright-mobile {
	font-family: 'Montserrat';
	text-transform: uppercase;
	font-size: 10.5px;
	letter-spacing: 1.5px;
	width: 100%;
	text-align: center;
	color: #999999;
	font-weight: 400;
	position: fixed;
	bottom: 30px;
	line-height: 30px;
	z-index: 8888;
	visibility: visible;
}

.social {
	visibility: hidden;
}

.social-mobile {
	visibility: visible;
	text-align: center;
	padding: 15px 0 0 0;
	z-index: 7788;
}

.social-mobile img {
	height: 22px;
	width: auto;
	padding: 0 8px;
}

.gray-bg {
	visibility: visible;
	position: fixed;
	top: 0;
	left: 0;
	color: #fff;
	height: 32px;
	width: 100%;
	z-index: 999;
}

.c-menu {
  position: fixed;
  z-index: 8888;
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.5s;
          transition: transform 0.5s;
  /* border-top: white 80px solid; */
}

.rotated-menu {
	-webkit-transform: rotate(0deg);
	position: fixed;
	top: 30%;
	left: 50%;
	-webkit-transform: translate(-50%,0); 
	-moz-transform: translate(-50%,0); 
	transform: translate(-50%,0);
	list-style-type: none;
    padding: 0;
}

.rotated-menu li {
	display: block;
	font-family: 'Montserrat';
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 1.4px;
	color: #1e1e1e;
	font-weight: 400;
	height: 30px;
	/* padding: 0 0 3px 0; */
	margin: 0;
	text-align: center;
	padding: 0 0 45px 0;
}

.rotated-menu li+li {
	padding-left: 0;
}

.rotated-menu a {
	color: #565656;
	text-decoration: none;
}

.rotated-menu a:hover {
	color: #565656;
}

.push-left {
 	margin-left: 0;
}

.push-right {
 	margin-right: 0;
}

.rotated-menu a {
	margin: 0 0 0 0;
}

.rotated-menu li+li {
	margin: 0;
}

.rotated-menu a {
	color: #565656;
	text-decoration: none;
}

.rotated-menu a:hover {
	color: #565656;
}

.c-menu--slide-top {
  vertical-align: middle;
  width: 100%;
  height: 100%;
  text-align: center;
  /* overflow-x: scroll; */
}

.c-menu--slide-top {
  top: 0;
  left: 0;
  -webkit-transform: translateY(-90px);
      -ms-transform: translateY(-900px);
          transform: translateY(-900px);
}

.c-menu--slide-top.is-active {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

body.has-active-menu {
  overflow: hidden;
}

.c-menu__close {
  position: fixed;
  text-align: center;
  width: 100%;
  bottom: 10.5px;
}

.c-menu__close img {
  width: 14px;
  height: auto;
  /* margin-left: 10px; */
}

.c-menu__close:focus {
  outline: none;
}

/*
.nav-mask {
	position: fixed;
	background: white;
	width: 60px;
	height: 80px;
	top: 0;
	left: 0;
	z-index: 2000;
}
*/

.c-mask {
  position: relative;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: transparent;
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0s 0.5s, height 0s 0.5s;
          transition: opacity 0.5s, width 0s 0.5s, height 0s 0.5s;
}

.c-mask.is-active {
  /*
width: 100%;
  height: 100%;
*/
  opacity: 0.7;
  -webkit-transition: opacity 0.5s;
          transition: opacity 0.5s;
}

.c-buttons {
  margin-bottom: 48px;
  text-align: center;
}

.c-button {
  /* display: inline-block; */
  /* margin: 4px; */
  width: 100%;
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
  text-align: left;
  background: #fff;
  font-size: 14px;
  box-shadow: none;
  border-radius: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* margin: 0 0 0 20px; */
  position: fixed;
  left: 0;
  top: 0;
  z-index: 7788;
}

.c-button img {
	margin: 10.5px 0 0 15px;
	width: 14px;
	height: auto;
}

.c-button:focus {
  outline: none;
}

.c-button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

/*
.projects {
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%); 
	-moz-transform: translate(-50%,-50%); 
	transform: translate(-50%,-50%);
	display: inline;
}

.projects a {
	display: inline;
}

.projects img {
	height: auto;
	width: 200px;
}
*/

/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/

.fade {
	background-color: #1e1e1e;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	opacity: 0.95;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 8888;
	display: none;
}

.project-title {
	position: absolute;
	top: 15px;
	left: 5%;
	font-family: 'Montserrat';
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	color: #565656;
}

.close-window {
	position: absolute;
	top: 15px;
	right: 5%;
	font-family: 'Montserrat';
	font-size: 12px;
	line-height: 14px;
	vertical-align: middle;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1.4px;
	color: #999999;
}

.project-container {
	width: 90%;
	margin: 50px auto 15px auto;
}

.project-container p {
	font-family: 'Roboto';
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.4px;
	text-align: left;
	font-weight: 400;
	color: #565656;
}

.project-container img {
	width: 100%;
	height: auto;
	padding: 15px 0;
}

.adulting-hover img {
	padding: 3px 0;
}

.project-container img:first-child {
	padding-top: 0;
}

.viewfull {
	font-family: 'Montserrat';
	text-transform: uppercase;
	font-size: 12.5px;
	letter-spacing: 1.5px;
	color: #999999;
	font-weight: 400;
	width: 93%;
	position:relative;
	text-align: center;
	margin: 15px 0 30px 0;
	z-index: 9999;
}

.koru-hover {
	background-color: #f2f2f2;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: absolute;
	width: 90%;
	height: auto;
	top: 25px;
	z-index: 99999;
	margin: 0 auto 25px auto;
	left: 5%;
	display: none;
}

.typehype-hover {
	background-color: #f2f2f2;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: absolute;
	width: 90%;
	height: auto;
	top: 25px;
	z-index: 99999;
	margin: 0 auto 25px auto;
	left: 5%;
	display: none;
}

.adulting-hover {
	background-color: #f2f2f2;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: absolute;
	width: 90%;
	height: auto;
	top: 25px;
	z-index: 99999;
	margin: 0 auto 25px auto;
	left: 5%;
	display: none;
}

.tamed-hover {
	background-color: #f2f2f2;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: absolute;
	width: 90%;
	height: auto;
	top: 25px;
	z-index: 99999;
	margin: 0 auto 25px auto;
	left: 5%;
	display: none;
}

.lamp-hover {
	background-color: #f2f2f2;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: absolute;
	width: 90%;
	height: auto;
	top: 25px;
	z-index: 99999;
	margin: 0 auto 25px auto;
	left: 5%;
	display: none;
}

.magic8-hover {
	background-color: #f2f2f2;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: absolute;
	width: 90%;
	height: auto;
	top: 25px;
	z-index: 99999;
	margin: 0 auto 25px auto;
	left: 5%;
	display: none;
}

.etsy-hover {
	background-color: #f2f2f2;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: absolute;
	width: 90%;
	height: auto;
	top: 25px;
	z-index: 99999;
	margin: 0 auto 25px auto;
	left: 5%;
	display: none;
}

.calendar-hover {
	background-color: #f2f2f2;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: absolute;
	width: 90%;
	height: auto;
	top: 25px;
	z-index: 99999;
	margin: 0 auto 25px auto;
	left: 5%;
	display: none;
}

.blacklight-hover {
	background-color: #f2f2f2;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: absolute;
	width: 90%;
	height: auto;
	top: 25px;
	z-index: 99999;
	margin: 0 auto 25px auto;
	left: 5%;
	display: none;
}

.tastefulcollecting-hover {
	background-color: #f2f2f2;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: absolute;
	width: 90%;
	height: auto;
	top: 25px;
	z-index: 99999;
	margin: 0 auto 25px auto;
	left: 5%;
	display: none;
}

}
