*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
 /*
 width: 100%;
  z-index: 1;
*/
}

/*
img {
	max-width: 100%;
	height: auto;
}
*/

body { 
  background-image: url();
  background-color: #f2f2f2;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


body.first {
  background-image: url('../img/bg_sand.jpg');
}
body.second {
  background-image: url('../img/bg_toothpaste.jpg');
}
body.third {
  background-image: url('../img/bg_sand.jpg');
}
body.fourth {
  background-image: url('../img/bg_film.jpg');
}
body.fifth {
  background-image: url('../img/bg_toothpaste.jpg');
}

a {
	opacity: 1;
	transition: all .5s ease;
	text-decoration: none;
	color: #5B5B5B;
}

a:hover {
	opacity: .3;
}


.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: #fff url("../img/loader.gif") center center no-repeat;
}


/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/

.container {
  position: fixed;
  width: 1050px;
  /* margin: 0 auto; */
  padding: 5%;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%,-50%); 
  -moz-transform: translate(-50%,-50%); 
  transform: translate(-50%,-50%);
}

.container img {
	width: 100%;
	height: auto;
}

/*
input[type=checkbox] {
  display: none;
}

label {
  display: inline-block;
  margin-right: 1em;
  padding: 0.4em 0;
  cursor: pointer;
}
*/

/*
button {
  border: 10px solid #00FFAA;
  font-family: monospace;
  position: absolute;
  line-height: 60px;
  text-align: right;
  padding: 0 1.2em;
  background: #444;
  font-size: 24px;
  cursor: pointer;
  display: block;
  outline: none;
  height: 80px;
  width: 80%;
  top: 260px;
  margin: 0;
  left: 10%;
}

button:hover {
  background: #00FFAA;
}
*/

/*
input[type=checkbox] + label:before {
  display: inline-block;
  position: relative;
  background: #444;
  margin-right: 8px;
  content: "";
  height: 16px;
  width: 16px;
  top: 1px;
}

input[type=checkbox]:checked + label:before {
  background: #00FFAA;
}
*/

.scene {
  padding: 0;
  margin: 0;
}

.fill {
  position: absolute;
  bottom: 5%;
  right: 5%;
  left: 5%;
  top: 5%;
}

.expand-width {
  width: 100%;
}

.border {
  border: 2px dashed #00FFAA;
}

.aspect {
  opacity: 0.2;
}

.layer:nth-child(1) {
  opacity: 0.70;
}
.layer:nth-child(1) button {
  -webkit-transform: rotate(90deg);
}

.layer:nth-child(2) {
  opacity: 0.70;
}
.layer:nth-child(2) button {
  -webkit-transform: rotate(60deg);
}

.layer:nth-child(3) {
  opacity: 0.80;
}
.layer:nth-child(3) button {
  -webkit-transform: rotate(30deg);
}

.layer:nth-child(4) {
  opacity: 1.00;
}
.layer:nth-child(4) button {
}

.projects {
	font-family: 'Montserrat';
	width: 65%;
	color: white;
	font-size: 12px;
	text-align: center;
	position: absolute;
	left: 50%;
	-webkit-transform: translate(-50%,0); 
	-moz-transform: translate(-50%,0); 
	transform: translate(-50%,0);
	top: 100px;
	overflow: scroll;
	margin-bottom: 100px;
}

.projects p {
	color: black;
}

.projects ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.projects li {
	display: inline;
}

.projects a {
	opacity: 1;
}

.projects a:hover {
	opacity: 0.8;
}

.projects ul img {
	width: 100%;
	height: auto;
	margin: 0 0 30px 0;
}

.projects p {
	width: 100%;
	font-family: 'Roboto';
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.4px;
	text-align: justify;
	font-weight: 400;
	color: #565656;
	padding: 15px 0;
}

.projects p img {
	width: auto;
	height: 26px;
	padding: 0;
	margin: 0 0 0 15px;
	line-height: 26px;
	vertical-align: middle;
}

.bigger-title {
	font-family: 'Montserrat';
	text-transform: uppercase;
	font-size: 24px;
	letter-spacing: 1.4px;
	color: #1e1e1e;
	font-weight: 700;
	line-height: 26px;
	vertical-align: middle;
}

.smaller-title {
	font-family: 'Montserrat';
	text-transform: uppercase;
	font-size: 11.5px;
	letter-spacing: 1.5px;
	color: #1e1e1e;
	font-weight: 700;
	line-height: 16px;
	vertical-align: middle;
}

.lets-get {
	width: 45%;
	text-align: left;
	overflow: visible;
	display: inline;
	float: left;
	padding: 0 0 10px 0;
}

.social-icons {
	width: 45%;
	text-align: right;
	overflow: visible;
	display: inline;
	float: right;
	padding: 0 0 10px 0;
}

.social-icons img {
	height: 16px;
	width: auto;
	padding: 0 5px;
}

.social-pics {
	width: 100%;
	display: inline;
}

.social-pics img {
	width: 18;
	margin: 0 0.5%;
	height: auto;
}

.social-pics img:first-child {
	width: 18%;
	margin: 0 0.5% 0 0;
	height: auto;
}

.social-pics img:last-child {
	width: 18%;
	margin: 0 0 0 0.5%;
	height: auto;
}

/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/

.o-wrapper {
  -webkit-transition: -webkit-transform 0.5s;
          transition: transform 0.5s;
  z-index: 8888;
}

.border-top {
	width: 100%;
	height: 30px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 7777;
	background-color: white;
}

.border-bottom {
	width: 100%;
	height: 30px;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 7777;
	background-color: white;
}

.border-left {
	width: 30px;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 7777;
	background-color: white;
}

.border-right {
	width: 30px;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 7777;
	background-color: white;
}


.content {
  width: 100%;
  height: 100%;
}

.logo {
	position: fixed;
	left: 8px;
	top: 40px;
	z-index: 9988;
}

.logo img {
	width: 55px;
	height: auto;
	/*
top: 10px;
	left: 10px;
*/
}

.logo-name {
	position: fixed;
	width: 40%;
	text-align: center;
	left: 30%;
	top: 8px;
	z-index: 8888;
	/* line-height: 30px; */
	/* vertical-align: middle; */
}

.logo-name img {
	width: auto;
	height: 14px;
}

.copyright {
	font-family: 'Montserrat';
	text-transform: uppercase;
	font-size: 10.5px;
	letter-spacing: 1.5px;
	color: #999999;
	font-weight: 400;
	position: fixed;
	left: 34px;
	bottom: 2px;
	line-height: 30px;
	z-index: 8888;
	visibility: visible;
}

.copyright-mobile {
	visibility: hidden;
}

.social {
	visibility: visible;
	text-align: center;
	padding: 0;
	position: fixed;
	line-height: 18px;
	right: 22px;
	bottom: 3px;
	z-index: 7788;
}

.social img {
	height: 18px;
	width: auto;
	padding: 0 5px;
}

.social-mobile {
	visibility: hidden;
}

.gray-bg {
	visibility: hidden;
}

.c-menu {
  position: fixed;
  z-index: 8888;
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.5s;
          transition: transform 0.5s;
  /* border-top: white 80px solid; */
}

.rotated-menu {
	-webkit-transform: rotate(-90deg);
	position: absolute;
	left: -210px;
	top: 285px;
	list-style-type: none;
    margin: auto 0;
    padding: 0 0 1px 0;
    width: 450px;
    line-height: 16px;
	vertical-align: middle;
	visibility: visible;
	height: 16px;
}


.rotated-menu li {
	display: inline;
	font-family: 'Montserrat';
	text-transform: uppercase;
	font-size: 11.5px;
	letter-spacing: 1.3px;
	color: #1e1e1e;
	font-weight: 400;
	height: 80px;
	/* padding: 0 0 3px 0; */
	margin: 0;
}

.rotated-menu li+li {
	padding-left: 16px;
}

.rotated-menu a {
	color: #565656;
	text-decoration: none;
}

.rotated-menu a:hover {
	color: #565656;
}

.push-left {
 	margin-left: 0;
}

.push-right {
 	margin-right: 0;
}

.c-menu--slide-top {
  vertical-align: middle;
  width: 30px;
  height: 100%;
  text-align: center;
  /* overflow-x: scroll; */
}

.c-menu--slide-top {
  top: 0;
  left: 0;
  -webkit-transform: translateY(-1500px);
      -ms-transform: translateY(-1500px);
          transform: translateY(-1500px);
}

.c-menu--slide-top.is-active {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

body.has-active-menu {
  overflow: hidden;
}

.c-menu__close {
  position: fixed;
  width: 30px;
  text-align: center;
  left: 0;
  bottom: 8.5px;
}

.c-menu__close img {
  width: 13px;
  height: auto;
}

.c-menu__close:focus {
  outline: none;
}

/*
.nav-mask {
	position: fixed;
	background: white;
	width: 60px;
	height: 80px;
	top: 0;
	left: 0;
	z-index: 2000;
}
*/

.c-mask {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #1e1e1e;
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0s 0.5s, height 0s 0.5s;
          transition: opacity 0.5s, width 0s 0.5s, height 0s 0.5s;
}

.c-mask.is-active {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  -webkit-transition: opacity 0.5s;
          transition: opacity 0.5s;
}

.c-buttons {
  margin-bottom: 48px;
  text-align: center;
}

.c-button {
  /* display: inline-block; */
  /* margin: 4px; */
  width: 30px;
  height: 30px;
  /* margin-top: 3px; */
/*
  line-height: 30px;
  vertical-align: middle;
*/
  text-align: center;
  background: #fff;
  font-size: 14px;
  box-shadow: none;
  border-radius: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* margin: 80px 0 0 0; */
  position: fixed;
  left: 0;
  top: 8px;
   z-index: 7788;
}

.c-button img {
	margin: 0;
	width: 13px;
	height: auto;
}

.c-button:focus {
  outline: none;
}

.c-button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

/*
.projects {
	position: fixed;
	width: 80%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%); 
	-moz-transform: translate(-50%,-50%); 
	transform: translate(-50%,-50%);
	overflow: scroll;
}

.projects img {
	height: 60%;
	width: auto;
}
*/

/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/

.fade {
	background-color: #1e1e1e;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	opacity: 0.95;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 8888;
	display: none;
}

.project-title {
	position: absolute;
	top: 30px;
	left: 3.5%;
	font-family: 'Montserrat';
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	color: #565656;
}

.close-window {
	position: absolute;
	top: 30px;
	right: 3.5%;
	font-family: 'Montserrat';
	font-size: 12px;
	line-height: 14px;
	vertical-align: middle;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1.4px;
	color: #999999;
}

.project-container {
	width: 93%;
	margin: 70px auto 35px auto;
}

.project-container p {
	font-family: 'Roboto';
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.4px;
	text-align: justify;
	font-weight: 400;
	color: #565656;
}

.project-container img {
	width: 100%;
	height: auto;
	padding: 15px 0;
}

.adulting-hover img {
	padding: 3px 0;
}

.project-container img:first-child {
	padding-top: 0;
}

.project-container img:last-child {
	padding-bottom: 0;
}

.project-container iframe {
	padding-top: 15px;
}

.viewfull {
	font-family: 'Montserrat';
	text-transform: uppercase;
	font-size: 12.5px;
	letter-spacing: 1.5px;
	color: #999999;
	font-weight: 400;
	width: 93%;
	position:relative;
	text-align: center;
	margin: 15px 0 30px 0;
	z-index: 9999;
}

.koru-hover {
	background-color: #f2f2f2;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: absolute;
	width: 80%;
	height: auto;
	top: 80px;
	z-index: 99999;
	margin: 0 auto 80px auto;
	left: 10%;
	display: none;
}

.typehype-hover {
	background-color: #f2f2f2;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: absolute;
	width: 80%;
	height: auto;
	top: 80px;
	z-index: 99999;
	margin: 0 auto 80px auto;
	left: 10%;
	display: none;
}

.adulting-hover {
	background-color: #f2f2f2;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: absolute;
	width: 80%;
	height: auto;
	top: 80px;
	z-index: 99999;
	margin: 0 auto 80px auto;
	left: 10%;
	display: none;
}

.tamed-hover {
	background-color: #f2f2f2;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: absolute;
	width: 80%;
	height: auto;
	top: 80px;
	z-index: 99999;
	margin: 0 auto 80px auto;
	left: 10%;
	display: none;
}

.lamp-hover {
	background-color: #f2f2f2;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: absolute;
	width: 80%;
	height: auto;
	top: 80px;
	z-index: 99999;
	margin: 0 auto 80px auto;
	left: 10%;
	display: none;
}

.magic8-hover {
	background-color: #f2f2f2;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: absolute;
	width: 80%;
	height: auto;
	top: 80px;
	z-index: 99999;
	margin: 0 auto 80px auto;
	left: 10%;
	display: none;
}

.etsy-hover {
	background-color: #f2f2f2;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: absolute;
	width: 80%;
	height: auto;
	top: 80px;
	z-index: 99999;
	margin: 0 auto 80px auto;
	left: 10%;
	display: none;
}

.calendar-hover {
	background-color: #f2f2f2;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: absolute;
	width: 80%;
	height: auto;
	top: 80px;
	z-index: 99999;
	margin: 0 auto 80px auto;
	left: 10%;
	display: none;
}

.blacklight-hover {
	background-color: #f2f2f2;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: absolute;
	width: 80%;
	height: auto;
	top: 80px;
	z-index: 99999;
	margin: 0 auto 80px auto;
	left: 10%;
	display: none;
}

.tastefulcollecting-hover {
	background-color: #f2f2f2;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: absolute;
	width: 80%;
	height: auto;
	top: 80px;
	z-index: 99999;
	margin: 0 auto 80px auto;
	left: 10%;
	display: none;
}

.logos-hover {
	background-color: #f2f2f2;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: absolute;
	width: 80%;
	height: auto;
	top: 80px;
	z-index: 99999;
	margin: 0 auto 80px auto;
	left: 10%;
	display: none;
}