*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
 /*
 width: 100%;
  z-index: 1;
*/
}

body { 
  background-image: url();
  background-color: white;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body.first {
  background-image: url(img/bg_beads.jpg);
}
body.second {
  background-image: url(img/bg_toothpaste.jpg);
}
body.third {
  background-image: url(img/bg_sand.jpg);
}
body.fourth {
  background-image: url(img/bg_film.jpg);
}
body.fifth {
  background-image: url(img/bg_toothpaste.jpg);
}

a {
	opacity: 1;
	transition: all .5s ease;
	text-decoration: none;
	color: #5B5B5B;
}

a:hover {
	opacity: .6;
}

/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/

/*
.container {
	width: 75%;
	color: white;
	font-size: 12px;
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%); 
	-moz-transform: translate(-50%,-50%); 
	transform: translate(-50%,-50%);
}
*/

.container {
  position: relative;
  width: 900px;
  margin: 0 auto;
  padding: 5%;
}

.container img {
	width: 100%;
	top: 0;
	left: 0;
	text-align: center;
	-webkit-transform: translate(0,0); 
	-moz-transform: translate(0,0); 
	transform: translate(0,0);
}

input[type=checkbox] {
  display: none;
}

label {
  display: inline-block;
  margin-right: 1em;
  padding: 0.4em 0;
  cursor: pointer;
}

/*
button {
  border: 10px solid #00FFAA;
  font-family: monospace;
  position: absolute;
  line-height: 60px;
  text-align: right;
  padding: 0 1.2em;
  background: #444;
  font-size: 24px;
  cursor: pointer;
  display: block;
  outline: none;
  height: 80px;
  width: 80%;
  top: 260px;
  margin: 0;
  left: 10%;
}

button:hover {
  background: #00FFAA;
}
*/

input[type=checkbox] + label:before {
  display: inline-block;
  position: relative;
  background: #444;
  margin-right: 8px;
  content: "";
  height: 16px;
  width: 16px;
  top: 1px;
}

input[type=checkbox]:checked + label:before {
  background: #00FFAA;
}

.scene {
  padding: 0;
  margin: 0;
}

.fill {
  position: absolute;
  bottom: 5%;
  right: 5%;
  left: 5%;
  top: 5%;
}

.expand-width {
  width: 100%;
}

.border {
  border: 2px dashed #00FFAA;
}

.aspect {
  opacity: 0.2;
}

.layer:nth-child(1) {
  opacity: 0.70;
}
.layer:nth-child(1) button {
  -webkit-transform: rotate(90deg);
}

.layer:nth-child(2) {
  opacity: 0.70;
}
.layer:nth-child(2) button {
  -webkit-transform: rotate(60deg);
}

.layer:nth-child(3) {
  opacity: 0.80;
}
.layer:nth-child(3) button {
  -webkit-transform: rotate(30deg);
}

.layer:nth-child(4) {
  opacity: 1.00;
}
.layer:nth-child(4) button {
}

.container-1 {
	font-family: 'Montserrat';
	width: 70%;
	color: white;
	font-size: 12px;
	text-align: center;
	margin: 0 auto;
	padding: 60px 0;
}

.container-1 p {
	color: black;
}

.projects ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.projects li {
	display: inline;
}

.projects ul img {
	width: 30%;
	height: auto;
	padding: 0 0 5px 0;
	margin: 0 5px 0 0;
	
}

/*
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*/

.o-wrapper {
  -webkit-transition: -webkit-transform 0.5s;
          transition: transform 0.5s;
}

.content {
  width: 100%;
  height: 100%;
}

.logo {
	position: fixed;
	left: 20px;
	top: 15px;
	z-index: 9999;
}

.logo img {
	width: 40px;
	height: auto;
	/*
top: 10px;
	left: 10px;
*/
}

.logo-name {
	position: fixed;
	left: 90px;
	top: 25px;
	z-index: 9999;
}

.logo-name img {
	width: auto;
	height: 20px;
}

.social {
	visibility: visible;
	width: 25px;
	text-align: center;
	position: fixed;
	bottom: 25px;
	right: 30px;
}

.social img {
	height: 22px;
	width: auto;
	margin-top: 6px;
}

.social-mobile {
	visibility: hidden;
}

.gray-bg {
	visibility: hidden;
}

.c-menu {
  position: fixed;
  z-index: 200;
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.5s;
          transition: transform 0.5s;
  /* border-top: white 80px solid; */
}

.rotated-menu {
	-webkit-transform: rotate(-90deg);
	position: absolute;
	left: -132px;
	top: 250px;
	list-style-type: none;
    margin: auto 0;
    padding: 0 0 1px 0;
    width: 440px;
    line-height: 16px;
	vertical-align: middle;
	visibility: visible;
}

.rotated-menu li {
	display: inline;
	font-family: 'Montserrat';
	text-transform: uppercase;
	font-size: 11.5px;
	letter-spacing: 1.3px;
	color: #1e1e1e;
	font-weight: 400;
	height: 80px;
	/* padding: 0 0 3px 0; */
	margin: 0;
}

.rotated-menu li+li {
	padding-left: 16px;
}

.rotated-menu a {
	color: #1e1e1e;
	text-decoration: none;
}

.rotated-menu a:hover {
	color: #1e1e1e;
}

.c-menu--slide-top {
  vertical-align: middle;
  width: 80px;
  height: 100%;
  text-align: center;
  /* overflow-x: scroll; */
}

.c-menu--slide-top {
  top: 0;
  left: 0;
  -webkit-transform: translateY(-1500px);
      -ms-transform: translateY(-1500px);
          transform: translateY(-1500px);
}

.c-menu--slide-top.is-active {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

body.has-active-menu {
  overflow: hidden;
}

.c-menu__close {
  position: fixed;
  width: 80px;
  text-align: center;
  left: 0;
  bottom: 20px;
}

.c-menu__close img {
  width: 16px;
  height: auto;
}

.c-menu__close:focus {
  outline: none;
}

/*
.nav-mask {
	position: fixed;
	background: white;
	width: 60px;
	height: 80px;
	top: 0;
	left: 0;
	z-index: 2000;
}
*/

.c-mask {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  /* background-color: #1e1e1e; */
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0s 0.5s, height 0s 0.5s;
          transition: opacity 0.5s, width 0s 0.5s, height 0s 0.5s;
}

.c-mask.is-active {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  -webkit-transition: opacity 0.5s;
          transition: opacity 0.5s;
}

.c-buttons {
  margin-bottom: 48px;
  text-align: center;
}

.c-button {
  /* display: inline-block; */
  /* margin: 4px; */
  width: 80px;
  height: 70px;
  padding: 28px 0 25px 0;
  text-align: center;
  background: #fff;
  font-size: 14px;
  box-shadow: none;
  border-radius: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* margin: 80px 0 0 0; */
  position: fixed;
  left: 0;
  top: 0;
}

.c-button img {
	margin: 0;
	width: 16px;
	height: auto;
}

.c-button:focus {
  outline: none;
}

.c-button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.projects {
	position: fixed;
	width: 80%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%); 
	-moz-transform: translate(-50%,-50%); 
	transform: translate(-50%,-50%);
	overflow: scroll;
}

.projects img {
	height: 60%;
	width: auto;
}

}
