/*
@font-face {
    font-family: 'oregonregular';
    src: url('oregon-webfont.eot');
    src: url('oregon-webfont.eot?#iefix') format('embedded-opentype'),
         url('oregon-webfont.woff2') format('woff2'),
         url('oregon-webfont.woff') format('woff'),
         url('oregon-webfont.ttf') format('truetype'),
         url('oregon-webfont.svg#oregonregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/

body { 
  background-image: url();
  background-color: white;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

body.first {
  background-image: url(img/One.jpg);
}
body.second {
  background-image: url(img/Two.jpg);
}
body.third {
  background-image: url(img/Three.jpg);
}
body.fourth {
  background-image: url(img/Four.jpg);
}
body.fifth {
  background-image: url(img/Five.jpg);
}

a {
	opacity: 1;
	/* transition: all .5s ease; */
	text-decoration: none;
	color: #5B5B5B;
}

a:hover {
	opacity: .6;
}

.logo {
	position: fixed;
	left: 25px;
	top: 15px;
	z-index: 1;
}

.logo img {
	width: 60px;
	height: auto;
	top: 10px;
	left: 10px;
}

.links {
	font-family: 'Montserrat';
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	color: #5B5B5B;
	position: fixed;
	left: -73px;
	bottom: 125px;
	text-align: left;
	/* width: 15%; */
	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.links ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.links li {
	display: inline;
	padding-right: 10px;
}

.socialmedia {
	position: fixed;
	right: 30px;
	bottom: 30px;
}

.socialmedia ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.socialmedia li {
	margin-top: 10px;
}

.container {
	width: 75%;
	color: white;
	font-size: 12px;
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%); 
	-moz-transform: translate(-50%,-50%); 
	transform: translate(-50%,-50%);
}

.container-1 {
	font-family: 'Montserrat';
	width: 60%;
	color: white;
	font-size: 12px;
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%); 
	-moz-transform: translate(-50%,-50%); 
	transform: translate(-50%,-50%); 
}

.container-2 {
	font-family: 'Montserrat';
	width: 60%;
	color: white;
	font-size: 12px;
	text-align: center;
	position: relative;
	top: 85px;
	padding-bottom: 55px;
	/* margin: 0 auto; */
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%); 
	-moz-transform: translate(-50%,-50%); 
	transform: translate(-50%,-50%); 
}

.container-3 {
	font-family: arial;
	width: 98%;
	color: #5b5b5b;
	font-size: 12px;
	text-align: left;
	margin: 0 auto;
	padding: 30px 0 0 0;
	letter-spacing: 0.4px;
	line-height: 17px;
	/* position: fixed; */
	/*
top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%); 
	-moz-transform: translate(-50%,-50%); 
	transform: translate(-50%,-50%); 
*/
}

.container-4 {
	width: 60%;
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%); 
	-moz-transform: translate(-50%,-50%); 
	transform: translate(-50%,-50%); 
}

.container-3 p {
	margin: 0;
}

.projects ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.logos ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.projects li {
	display: inline;
}

.logos li {
	display: inline;
}

.projects ul img {
	width: 24.7%;
	height: auto;
	padding: 0 0 1px 0;
	margin: 0;
	
}

.logos ul img {
	width: 24%;
	height: auto;
	padding: 0 0 1px 0;
	margin: 0;
	
}

/*
.gallery {
	height: 50%;
}

.gallery img {
	width: 100%;
	height: auto;
}
*/

h1 {
	font-family: 'Montserrat';
	color: #5b5b5b;
	font-size: 12px;
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 0.9px;
	font-weight: 700;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.gallery {
  background: white;
  width: 100%;
  text-align: center;
  /*
position: fixed;
  text-align: center;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%); 
  -moz-transform: translate(-50%,-50%); 
  transform: translate(-50%,-50%);
*/
}

.gallery img {
  display: block;
  height: 550px;
}

/*
@media screen and ( min-width: 768px ) {
  .gallery img {
    height: 300px;
  }
}