body { 
  background-image: url();
  background-color: white;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

body.first {
  background-image: url(img/bg_beads.jpg);
}
body.second {
  background-image: url(img/bg_toothpaste.jpg);
}
body.third {
  background-image: url(img/bg_sand.jpg);
}
body.fourth {
  background-image: url(img/bg_film.jpg);
}
body.fifth {
  background-image: url(img/bg_toothpaste.jpg);
}

a {
	opacity: 1;
	/* transition: all .5s ease; */
	text-decoration: none;
	color: #5B5B5B;
}

a:hover {
	opacity: .6;
}

.logo {
	position: fixed;
	left: 25px;
	top: 15px;
	z-index: 1;
}

.logo img {
	width: 60px;
	height: auto;
	top: 10px;
	left: 10px;
}

.links {
	font-family: 'Montserrat';
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	color: #5B5B5B;
	position: fixed;
	left: -73px;
	bottom: 125px;
	text-align: left;
	/* width: 15%; */
	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.links ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.links li {
	display: inline;
	padding-right: 10px;
}

.socialmedia {
	position: fixed;
	right: 30px;
	bottom: 25px;
}

.socialmedia ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.socialmedia li {
	margin-top: 10px;
}

.container {
	width: 75%;
	color: white;
	font-size: 12px;
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%); 
	-moz-transform: translate(-50%,-50%); 
	transform: translate(-50%,-50%);
}

.container-1 {
	font-family: 'Montserrat';
	width: 70%;
	color: white;
	font-size: 12px;
	text-align: center;
	position: relative;
	top: 60px;
	left: 0;
	-webkit-transform: translate(0,0); 
	-moz-transform: translate(0,0); 
	transform: translate(0,0); 
	margin: 0 auto;
	padding: 0 0 22px 0;
}

.container-1 p {
	color: black;
}

.container-2 {
	visibility: hidden;
	font-family: 'Montserrat';
	width: 60%;
	color: white;
	font-size: 12px;
	text-align: center;
	position: relative;
	top: 85px;
	padding-bottom: 55px;
	/* margin: 0 auto; */
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%); 
	-moz-transform: translate(-50%,-50%); 
	transform: translate(-50%,-50%); 
}

.container-02 {
	visibility: visible;
	width: 70%;
	text-align: center;
	position: relative;
	top: 40px;
	padding-bottom: 20px;
	margin: 0 auto;
}

.exception {
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%); 
	-moz-transform: translate(-50%,-50%); 
	transform: translate(-50%,-50%); 
	width: 60%;
	height: 350px;
	padding: 0;
	margin: 0 5% 0 0;
}

.exception2 {
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%); 
	-moz-transform: translate(-50%,-50%); 
	transform: translate(-50%,-50%); 
	/*
width: 60%;
	height: 250px;
*/
	padding: 0;
	margin: 0 5% 0 0;
}

.container-02 img {
	width: 95%;
	height: auto;
	padding: 0 0 5px 0;
	margin: 0 5% 0 0;
}

.container-02 ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.container-02 li {
	display: inline;
}

.container-3 {
	font-family: arial;
	width: 98%;
	color: #5b5b5b;
	font-size: 12px;
	text-align: left;
	margin: 0 auto;
	padding: 30px 0 0 0;
	letter-spacing: 0.4px;
	line-height: 17px;
	/* position: fixed; */
	/*
top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%); 
	-moz-transform: translate(-50%,-50%); 
	transform: translate(-50%,-50%); 
*/
}

.container-4 {
	width: 50%;
	text-align: center;
	position: relative;
	top: 40px;
	left: 0;
	-webkit-transform: translate(0,0); 
	-moz-transform: translate(0,0); 
	transform: translate(0,0); 
	margin: 0 auto;
}

.container-3 p {
	margin: 0;
}

.projects ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.logos ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.projects li {
	display: inline;
}

.logos li {
	display: inline;
}

.projects ul img {
	width: 45%;
	height: auto;
	padding: 0 0 5px 0;
	margin: 0 5px 0 0;
	
}

.logos ul img {
	width: 49%;
	height: auto;
	padding: 0;
	margin: 0;
	
}

/*
.gallery {
	height: 50%;
}

.gallery img {
	width: 100%;
	height: auto;
}
*/

h1 {
	font-family: 'Montserrat';
	color: #5b5b5b;
	font-size: 12px;
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 0.9px;
	font-weight: 700;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.gallery {
  background: white;
  width: 100%;
  text-align: center;
  /*
position: fixed;
  text-align: center;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%); 
  -moz-transform: translate(-50%,-50%); 
  transform: translate(-50%,-50%);
*/
}

.gallery img {
  display: block;
  height: 550px;
}

.container-1-2 {
	font-family: 'Montserrat';
	width: 550px;
	font-size: 12px;
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%); 
	-moz-transform: translate(-50%,-50%); 
	transform: translate(-50%,-50%);
	margin: 0;
	padding: 0;
	visibility: visible;
}

.container-1-02 {
	font-family: 'Montserrat';
	width: 550px;
	font-size: 12px;
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%); 
	-moz-transform: translate(-50%,-50%); 
	transform: translate(-50%,-50%);
	margin: 0;
	padding: 0;
	visibility: hidden;
}

.col {
	display: inline-block;
	width: 100%;
	font-size: 13.5px;
	line-height: 26px;
}

.col2 {
	display: inline-block;
	width: 100%;
	font-size: 13.5px;
	line-height: 26px;
}

.col h2 {
	color: #242424;
	font-size: 24px;
	margin: 0 0 18px 0;
	letter-spacing: 0.3px;
}

.col2 h2 {
	color: #242424;
	font-size: 24px;
	margin: 0 0 18px 0;
	letter-spacing: 0.3px;
}

.col-title {
	font-family: 'Montserrat';
	color: #303aff;
	font-size: 12px;
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 0.9px;
	font-weight: 700;
}

.col2-title {
	font-family: 'Montserrat';
	color: #303aff;
	font-size: 12px;
	text-align: left;
	text-transform: uppercase;
	letter-spacing: 0.9px;
	font-weight: 700;
}

.col-1 {
	width: 20%;
	float: left;
	padding: 0 0 0 0px;
}

.col2-1 {
	width: 20%;
	float: left;
	padding: 0 0 0 0px;
}

.col-2 {
	width: 38%;
	float: right;
	text-align: left;
	padding: 40px 0px 0 0;
}

.col2-2 {
	width: 38%;
	float: right;
	text-align: left;
	padding: 40px 0px 0 0;
}

.col p {
	padding: 0 0 20px 0;
}

.col2 p {
	padding: 0 0 20px 0;
}

.highlight {
	font-size: 19px;
	letter-spacing: 0.6px;
	line-height: 26px;
	color: #5b5b5b;
}

.col-2 img {
	padding: 18px 0 16px 0;
}

.col2-2 img {
	padding: 18px 0 16px 0;
}

.col-2 a {
	color: #303aff;
}

.col2-2 a {
	color: #303aff;
}




