@font-face {
    font-family: 'oregonregular';
    src: url('oregon-webfont.eot');
    src: url('oregon-webfont.eot?#iefix') format('embedded-opentype'),
         url('oregon-webfont.woff2') format('woff2'),
         url('oregon-webfont.woff') format('woff'),
         url('oregon-webfont.ttf') format('truetype'),
         url('oregon-webfont.svg#oregonregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body { 
  background-image: url();
  background-color: white;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

a {
	opacity: 1;
	/* transition: all .5s ease; */
	text-decoration: none;
	color: #5B5B5B;
}

a:hover {
	opacity: .6;
}

.logo {
	position: fixed;
	left: 25px;
	top: 15px;
}

.logo img {
	width: 60px;
	height: auto;
	top: 10px;
	left: 10px;
}

.links {
	font-family: 'Montserrat';
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	color: #5B5B5B;
	position: fixed;
	left: -65px;
	bottom: 128px;
	text-align: left;
	/* width: 15%; */
	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.links ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.links li {
	display: inline;
	padding-right: 10px;
}

.socialmedia {
	position: fixed;
	right: 30px;
	bottom: 30px;
}

.socialmedia ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.socialmedia li {
	margin-top: 10px;
}

.container-1 {
	font-family: 'Montserrat';
	width: 70%;
	color: white;
	font-size: 12px;
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%); 
	-moz-transform: translate(-50%,-50%); 
	transform: translate(-50%,-50%); 
}

.container-2 {
	font-family: 'Montserrat';
	width: 70%;
	color: white;
	font-size: 12px;
	/*
margin: 0 auto;
	text-align: center;
*/
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%); 
	-moz-transform: translate(-50%,-50%); 
	transform: translate(-50%,-50%);
}

.projects ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.projects li {
	display: inline;
}

.projects ul img {
	width: 24.7%;
	height: auto;
	padding: 0 0 1px 0;
	margin: 0;
}

.gallery {
	/*
text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%); 
	-moz-transform: translate(-50%,-50%); 
	transform: translate(-50%,-50%);
*/
}

.gallery img {
	width: 80%;
	/* height: auto; */
	/*
text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%); 
	-moz-transform: translate(-50%,-50%); 
	transform: translate(-50%,-50%);
*/
}


