/*
@import url("phone.css") (min-width: 1em);

@media screen and (min-width: 40.5em) {
*/

html { 
  background: url(http://i62.tinypic.com/2m5ndsh.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	font-family: 'Montserrat';
}

a {
	color: #222222;
	text-decoration: none;
	opacity: 1;
	transition: all .3s linear;
}

a:hover {
	opacity: .3;
}

.container {
	width: 200px;
	margin: 12% auto auto auto;
	padding: 20px 30px;
	background-color: white;
	opacity: .9;
}

.invisible {
	opacity: 0%;
	color: transparent;
}

.intro {
	font-size: 12.75px;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1.1px;
	text-align: center;
	padding-bottom: 5px;
}

.title {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.9px;
	width: 100%;
	text-align: center;
}

.ls {
	width: 100%;
	text-align: center;
	margin: 25px 0 28px 0;
}

.view {
	font-size: 11.75px;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 0.9px;
	text-align: center;
	padding-bottom: 14px;
}

.links {
	font-size: 8px;
	text-transform: uppercase;
	font-weight: 400;
	width: 100%;
	position: relative;
	text-align: center;
	margin: 0;
	padding-bottom: 15px;
}

.links ul {
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 0;
}

.links li {
	display: inline-block;
	margin-right: 9px;
}

.resume {
	font-size: 10.5px;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 0.8px;
	text-align: center;
}

/* } */